@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
  font-family: 'League Spartan', sans-serif;
  box-sizing: border-box;
}
nav {
  background: #20caf2!important;
}
.dark nav {
  /* background-color: var(--bs-body-bg); */
  background-color: #212529 !important;
}
#home {
  height: 100vh;
  background: url(img/wave-lg.svg);
  padding-top: 4.5rem;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}
#home .container .row h2 {
  color: #ffffff;
}
#about {
  height: auto;
  background-color: #fafafa;
  padding-top: 5rem;
}

#projects {
  padding-top: 5rem;
}
#projects .row .col .card {
  background: #fafafa;
}

#projects #d-medium {
  display: none;
}
#projects  #d-medium h5 {
  color: white;
}
#projects .container  #d-medium p {
  color: white;
}
#projects .container #d-large .col .card:hover {background-color: #baf2ff; box-shadow: var(--bs-box-shadow);}
#contact {
  background: #fafafa;
}

/* dark mode */
.dark #home {
  background: url(img/wave-lg-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.dark #home .container .row h2 {
  color: #20caf5;
}
.dark #about {
  background-color: var(--bs-secondary-bg);
}
.dark #about .dark-about path {
  fill: #212529;
}
.dark #projects .dark-project path {
  fill: #343a40;
}
.dark #projects .row .col .card {
  background: var(--bs-border-color)!important;
}
.dark #projects .container #d-large .col .card:hover {background-color: #313131 !important; box-shadow: var(--bs-box-shadow) !important;}
.dark #contact{
  background-color: var(--bs-secondary-bg);
}
.dark footer {
  background: var(--bs-dark-bg-subtle);
}
footer {
  background: #20caf2;
}
footer p a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0 5px;
}

/* media kueri */

@media(max-width: 768px) {
  #projects #d-medium {
    display: block;
  }
  #projects #d-medium .carousel-caption {
    background: rgba(27, 27, 20, .4);
  }
  #projects #d-large {
    display: none;
  }
}

@media(max-width: 576px) {
  #home {
    height: auto;
    background: url(img/wave-sm.svg);
  }
  .container .row h1 {
    font-size: 2.2rem;
  }

  /* dark mode */
  .dark #home {
    background: url(img/wave-sm-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
